*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero{
    background-image: url('Images/Screenshot\ 2024-03-06\ 105919.png');
    height: 300px;
    color: aqua;
    overflow: hidden;
    /* overflow-y: hidden;
    overflow-x: hidden; */
     */
}
.para{
     color: aliceblue;
}

.project{
    /* background-color: aqua; */
    margin-top: 5px;
}
.project-item{
    float: left;
    height: 200px;
    width: 32.8%;
    background-image: url(Images/bg.pic\,jpg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    color: aqua;
    margin: 3px;
    overflow: hidden;


}
/* Resoponsive */
@media screen and (max-width:1200px){
    .hero{
        color: brown;
    }
    
}

@media screen and (max-width:1123px) {
    .project-item{
        width: 32.5%;
        
    }
    
}


@media screen and (max-width:720px) {
    .project-item{
        width: 32%;
        color: orangered;
        background-image: url(Images/bg\ pic1.jpg);
    }
    
}


@media screen and (max-width:449px) {
    .project-item{
        width: 31.8%;
    }
    
}

@media screen and (max-width:391px) {
    .project-item{
        width: 31.5%;
        color:aquamarine;
        font-size: 20px;
    }
    
}


@media screen and (max-width:327px) {
    .project-item{
        width: 31%;
    }
    
}